.wrapper {
	align-items: stretch;
}

.left-panel {
	display: table-cell;
	background-color: #87b6de;
	height: 100vh;
	min-height: 100%;
	padding: 0 25px;
	vertical-align: top;
	width: 280px;
	transition: width .3s ease;

	outline: 2px dotted green;
}

.logo img {
	max-width: 225px;
    height: auto;
}

.sidebar {

}

.sidebar li a:link,
.sidebar li a:active,
.sidebar li a:visited,
.sidebar li a:hover {
	color: #fff;
}

button#sidebarCollapse {
	background-color: #3F729B;
	color: #fff;
}

.dropdown-toggle::after {
	right: -16px !important;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

.right-panel {
	display: table-cell;
	width: 100%;

	outline: 2px dotted blue;
}

.navbar {
	width: 100%;
}

.navbar .logo  {
	display: none;
}

nav li span {
	font-size: .5em;
}

a.nav-link {
	color: #007bff !important;
	font-size: 1em;
}

.card-section {

}

.card {
	display: none;
	width: 31%;
	margin: 0 1em 1em 0;
	border: none;
}

.card-header {
	padding: 1em;
	border: 1px solid #666;
}

.minimize-icon {
	margin-right: .5em;
}

.card-body {
	padding: .5em;
	border: 1px solid #666;
	border-top: none;
}

.close-icon {
  cursor: pointer;
}

.visible {
	display: block;
}

@media (max-width: 768px) {

	.left-panel {

	}

	aside.left-panel {
		padding: 0;
	}
	.left-panel .logo,
	.left-panel .sidebar  {
		display: none;
	}

	.left-panel.deploy-left {
		width: 15%;
		/*margin-left: 0;*/
		margin-left: -250px;
		padding-top: 1em;
		z-index: 100;
		
	}
	.left-panel.deploy-left .sidebar {
		display: block;
		padding-left: .5em;
	}
	.left-panel.deploy-left .sidebar li a {
		display: block;
		text-align: right;
		padding-right: 1em;
	}
	.right-panel.deploy-left {
		width: 50%;
	}

	.right-panel .navbar {
		padding: 0 .5em;
	}

	.right-panel .navbar .logo  {
		display: block;
	}

	.right-panel .navbar .search {
		position: absolute;
		top: 40%;
		right: 1%;
	}

	.card {
		width: 100%;
		margin-right: 0;
	}

	.wrapper,
	.navbar,
	.card-section {
		outline: 2px dotted #f00;
	}
}

/* !! dummy styles !! */
.left-panel{
	
}

.right-panel {
	
}

