.wrapper {
	/*display: flex;
	width: 100%;*/
	align-items: stretch;
}

.navbar {
	width: 100%;
	padding-top: 0 !important;
}

nav li span {
	font-size: .5em;
}

a.nav-link {
	color: #007bff !important;
	font-size: 1em;
}

#sidebar {
	width: 15%;
	padding: 1em;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

button#sidebarCollapse {
	background-color: #3F729B;
	color: #fff;
}

.dropdown-toggle::after {
	right: -16px !important;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

.logo img {
	width: 60%;
}

.card-section {
	/*width: 79%;*/
}

.card {
	display: none;
	width: 31%;
	margin: 0 1em 1em 0;
	border: none;
}

.card-header {
	padding: 1em;
	border: 1px solid #666;
}

.minimize-icon {
	margin-right: .5em;
}

.card-body {
	padding: .5em;
	border: 1px solid #666;
	border-top: none;
}

.close-icon {
  cursor: pointer;
}

.visible {
	display: block;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}

	#sidebar.active {
		width: 40%;
		margin-left: 0;
	}

	.card {
		width: 100%;
		margin-right: 0;
	}

	.wrapper,
	.navbar,
	.card-section {
		outline: 2px dotted #f00;
	}
}

/* !! dummy styles !! */
.wrapper,
.navbar,
.card-section {
	outline: 2px dotted #666;
}
#sidebar {
	border-right: 2px dotted #666;
}
/*div { outline: 1px dotted green; }*/

