.wrapper {
	/*display: flex;*/
	width: 100%;
	align-items: stretch;
}

.navbar {
	width: 100%;
	margin-top: 0 !important;
}

#sidebar {
	min-width: 24%;
	max-width: 24%;
	padding-left: .5em;

	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

.dropdown-toggle::after {
	right: -16px !important;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.logo img {
	width: 60%;
}

.card-section {
	/*width: 79%;*/
}
.card {
	/*display: none;*/

	width: 31%;
	margin: 0 1em 1em 0;
	border: none;
}

.card-header {
	padding: 1em;
	border: 1px solid #666;
}

.minimize-icon {
	margin-right: .5em;
}

.card-body {
	padding: .5em;
	border: 1px solid #666;
	border-top: none;
}

.close-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
}


/* NOTES

https://developer.mozilla.org/en-US/docs/Web/CSS/flex
https://bootstrapious.com/p/bootstrap-sidebar

*/
